<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
        <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12 col-auto' >
            <div class="card img-fluid" style="width: 15rem;">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item" *ngFor='let image of producto?.images; first as isFirst;' [ngClass]="{'active': isFirst}">
                            <img [src]="this.API + image" alt="" class="d-block m-auto" height="200px" width="200px">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="fas fa-chevron-left" style='color:black;' aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="fas fa-chevron-right" style='color:black;' aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
        </div>
        <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12 col-auto' >
            <div class="card text-dark" style='height: 10em;' >
                <h1>
                    {{producto?.name}}
                </h1>
                <h3>
                    {{producto?.price}}
                </h3>
                <h3>{{producto?.description}}</h3>
            </div>
        </div>
    </div>    
</div>