<div class="container">
    <div id="logbox">
      <form id="signup" [formGroup]="form" (ngSubmit)='signUp()'>
        <button (click)='signIn = !signIn'></button>
        <h1>Create an account</h1>
        <input class="input pass"  formControlName='email' Nametype="email" placeholder="Ingrese su email" required/>
        <input class="input pass"  formControlName='password' Nametype="text" placeholder="Ingrese su contrasena" required/>
        <input class="input pass"  formControlName='profile' Nametype="password" placeholder="Ingrese su perfil" required/>
        <input class="inputButton" *ngIf='!signIn' type='submit' value="Sign me up!"/>
        <input class="inputButton" *ngIf='signIn' type='submit' value="Sign me in!"/>
      </form>
    </div>
  </div>