<div class="container">
  <form [formGroup]='form' (ngSubmit)='signIn()'>
      <div class="containerForm">
        <h1>Ingreso</h1>
        <p>Completa los siguientes datos para crear una cuenta</p>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Ingrese su correo electronico aqui" formControlName='email' name="email" required>
      
        <div class='text-danger p-1 m-0' *ngIf="form.get('email')?.touched && form.get('email')?.errors?.required">
            Ingrese su email
        </div>
        <div class='text-danger p-1 m-0' *ngIf="form.get('email')?.touched && form.get('email')?.errors?.email">
            Ingrese un email valido
        </div>

        <label for="password"><b>Contraseña</b></label>
        <input type="password" placeholder="Ingrese su contraseña" formControlName='password' name="password" required>
          
        <div class='text-danger p-1' *ngIf="form.get('password')?.touched && form.get('password')?.errors?.required">
          Ingrese su contraseña
        </div>
        <div class='text-danger p-1 p-1' *ngIf="form.get('password')?.touched && form.get('password')?.errors?.minlength">
          La contraseña debe tener 8 caracteres o mas
        </div>
        <div class='text-danger p-1' *ngIf="form.get('password')?.touched && form.get('password')?.errors?.validadorEspacios">
          No se permiten espacios
        </div>
        <div class="clearfix">
    
          <button type="submit" [disabled]='form.invalid' class="btn">Sign in</button>
        </div>
      </div>
  </form>
</div>