<div class="container">
    <form [formGroup]='form' (ngSubmit)='this.signUp()'>
        <div class="containerForm">
        <h1>Registro</h1>
        <p>Completa los siguientes datos para crear una cuenta</p>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Ingrese su correo electronico aqui" formControlName='email' name="email" required>
        
        <div class='text-danger p-1 m-0' *ngIf="form.get('email')?.touched && form.get('email')?.errors?.required">
            Ingrese su email
        </div>
        <div class='text-danger p-1 m-0' *ngIf="form.get('email')?.touched && form.get('email')?.errors?.email">
            Ingrese un email valido
        </div>

        <label for="password"><b>Contraseña</b></label>
        <input type="password" placeholder="Ingrese su contraseña" formControlName='password' name="password" required>
        
        <div class='text-danger p-1' *ngIf="form.get('password')?.touched && form.get('password')?.errors?.required">
            Ingrese su contraseña
        </div>
        <div class='text-danger p-1' *ngIf="form.get('password')?.touched && form.get('password')?.errors?.minlength">
            La contraseña debe tener 8 caracteres o mas
        </div>

        <label for=""><b>Numero de telefono</b></label>
        <br>
        <span>+54</span>
        <input type="phone" name="phone" placeholder="Ingrese su numero de telefono aqui" formControlName='phoneNumber' required>
    
        <div class='text-danger p-1' *ngIf="form.get('phoneNumber')?.touched && form.get('phoneNumber')?.errors?.required">
            Ingrese su numero de telefono
        </div>

        <label for="address"><b>Direccion</b></label>
        <input type="text" placeholder="Ingrese su direccion" formControlName='address' name="address" required>

        <div class='text-danger p-1' *ngIf="form.get('address')?.touched && form.get('address')?.errors?.required">
            Ingrese su direccion
        </div>

        <label for="dni"><b>DNI</b></label>
        <input type="text" placeholder="Numero de documento, CUIL, CUIT, o Pasaporte" name="dni" formControlName='dni' required>

        <div class='text-danger p-1' *ngIf="form.get('dni')?.touched && form.get('dni')?.errors?.required">
            Ingrese su documento
        </div>
        
        <label for="city">Ingrese su localidad: </label>
        <select name="city" formControlName='city' required>
            <option value="CABA">CABA</option>
            <option value="Buenos aires">Buenos Aires</option>
        </select>

        <div class='text-danger p-1' *ngIf="form.get('city')?.touched && form.get('city')?.errors?.required">
            Ingrese su localidad
        </div>

        <label for="cPostal"><b>Ingrese su codigo postal</b></label>
        <input type="number" placeholder="Ingrese su direccion" name="postalCode" formControlName='postalCode' required>

        <div class='text-danger p-1' *ngIf="form.get('postalCode')?.touched && form.get('postalCode')?.errors?.required">
            Ingrese su codigo postal
        </div>

        <!-- <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p> -->
    
        <div class="clearfix">
    
            <button type="submit" [disabled]='form.invalid' class="btn">Sign Up</button>
        </div>
        </div>
    </form>
</div>